@import 'universal';

.dragdrop__active::after,
.dragdrop__hover::after {
    content: '';
    position: absolute;
    display: block;
    z-index: 99999900;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}

.dragdrop__active::after {
    background: #ccc;
}

.dragdrop__hover::after {
    background: $-border-color;
}

.dragdrop__helper {
    font-size: 0.8rem;
    border: 1px solid $-border-color;
    background: #ccc;
    padding: 0.25rem 0.5rem;
    pointer-events: none;
    white-space: nowrap;

    i {
        margin-right: 0.25rem;
    }
}