@import 'universal';

.inputgroup {
    display: table;
    border-collapse: collapse;
    width: 100%;
    background: #fff;

    &>* {
        display: table-cell;
        vertical-align: middle;
    }

    &__info {
        background: #eee;
        color: #333;
        padding: 0 0.5rem;
    }

    &__input {
        width: 100%;
        display: block;
        
        input {
            padding: 0.5rem;
            border: 0;
            display: block;
            width: 100%;
        }

        small {
            display: block;
            width: 100%;
            padding: 0 0.5rem;
            color: $-border-color;
        }
    }
}