<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0.5em;
        }

        .block {
            display: block;
            width: 100%;
            margin-bottom: 0.5em;
        }
    </style>
</head>

<body>
    <div class="block">
        <p>This component exports the input data to a file.</p>
        <button id="export" type="button" onclick="window.export(); return false;" disabled>Export</button>
    </div>
</body>

</html>